<header>
    <div class="nav">
      <div class="names">ShreddyBetty: Coming Soon</div>
      <div class="nav-items">
        <!--<div>-->
          <!--<a href="{{ "/" | prepend: site.baseurl }}">Wedding</a>-->
        <!--</div>-->
        <div>
           <a href="{{ "/skis.html" | prepend: site.baseurl }}">Skis</a>
        </div>
        <div>
          <a href="{{ "/boots.html" | prepend: site.baseurl }}">Boots</a>
        </div>
        <div>
          <a href="{{ "/other_gear.html" | prepend: site.baseurl }}">Other Gear</a>
        </div>
        <div>
          <a href="{{ "/kids.html" | prepend: site.baseurl }}">Kids</a>
        </div>
      </div>
    </div>
</header>
